.app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 30px;
    gap: 30px;
    height: 100vh;
}

.pageChange{
    display: flex;
    gap: 20px;
}